<!DOCTYPE html>
<html>
<head>
<title>Danilo Maccari - Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Resume of Danilo Maccari."/>
<meta charset="UTF-8"> 

<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<link type="text/css" rel="stylesheet" href="style.css">


<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<%= image_tag('headshot.jpg', alt: 'Danilo Maccari') %>
		</div>
		<div id="name">
			<h1 class="quickFade delayTwo">Danilo Maccari</h1>
			<h2 class="quickFade delayThree">Freelance Developer, IT Support</h2>
		</div>
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><a href="mailto:maccari78@gmail.com" target="_blank">maccari78@gmail.com</a></li>
				<li><a href="https://github.com/maccari78">Github maccari78</a></li>
				<li>+54 9 291 444-4264</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>About</h1>
				</div>
				<div class="sectionContent">
					<p>Highly motivated and driven individual to pursue a career in software development or related positions. Interested in the quality assurance, develop and security of the software. With good handling of  HTML5 and CSS3, PHP, C#.NET Core, SQL Server, Java Spring, Ruby on Rails, Python Django, MySQL, SQLite3 among others. Willing and able to learn new technologies quickly and easily adapts to teamwork.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>		
		<section>
			<div class="sectionTitle">
				<h1>Work experience related to the field</h1>
			</div>
			<div class="sectionContent">
				<article>
					<h2>Owner, in charge at HacheTeMeLe5</h2>
					<p class="subDetails">March 2011 - Present</p>
					<p>I am dedicated to the repair, sale and advice of PC (Software and Hardware) and I am a Fullstack Web Developer. I am able to learn new technologies quickly and I adapt easily to teamwork.</p>
				</article>
				<article>
					<h2>Software QA Analist - UX UI Designer at anatod</h2>
					<p class="subDetails">March 2017 - July 2019</p>
					<p>I have served as a Freelance advisor to the QA and UX UI Design team (PHP, JavaScript, CSS3, Ionic Framework: HTML5, Angular JS).</p>
				</article>
				<article>
					<h2>Owner, in charge at TERABYTE Internet</h2>
					<p class="subDetails">April 2006 - Febreary 2011</p>
					<p>Performing general administrative tasks and maintenance of software and hardware in the establishment.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Visual Basic.NET</li>
					<li>C#.NET Core</li>
					<li>ASP.NET</li>
					<li>SQL Server</li>
					<li>Pascal</li>
					<li>HTML5 and CSS3</li>
					<li>Javascript</li>
					<li>PHP</li>
					<li>Java Spring</li>
					<li>Python Django</li>
					<li>Ruby on Rails</li>
					<li>MySQL</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>		
		<section>
			<div class="sectionTitle">
				<h1>Education and certifications</h1>
			</div>			
			<div class="sectionContent">
				<article>
					<h2>freecodecamp.com and Codemy.com</h2>
					<p>In Jan 2021 I created my resume in Node.js, Ruby on Rails and Python Django, also created a CRUD called FriendsApp in Ruby on Rails and a REST API in Python Django. All this is on my GitHub</p>
				</article>
				<article>
					<h2>JGAITPro</h2>
					<p>On January 2020 I finish the Docker course</p>
				</article>
				<article>
					<h2>freecodecamp.com</h2>
					<p>On July 2019 I finished the Javascript Algorithms and Data Structures</p>
				</article>
				<article>
					<h2>Global Game Jam 2019</h2>
					<p>Between January 25 and 27, 2019 I participated in this contest where we work on group to develop a game in 48 hours. At Globant's Bahía Blanca headquarters</p>
				</article>
				<article>
					<h2>Plan 111 mil</h2>
					<p>Knowledge analyst, programmer path. Junior Java Developer, in charge of Lic. Daniel Benitez, since December 21, 2018.</p>
				</article>
				<article>
					<h2>freecodecamp.com</h2>
					<p>On July 2018 I finished the Responsive Web Design course</p>
				</article>
				<article>
					<h2>progate.com</h2>
					<p>I have taken the Command Line, GIT, Python, Java, HTML & CSS, JavaScript ES5 and ES6, jQuery, PHP, Ruby, Ruby on Rails, SASS, SQL, Go, React courses between November 2017 and May 2018.</p>
				</article>
				<article>
					<h2>Global Game Jam 2018</h2>
					<p>Between January 26 and 28, 2018, I participated in this contest where we worked as a group to develop a game in 48 hours. At Globant's Bahía Blanca headquarters.</p>
				</article>
				<article>
					<h2>“Introduction to the Administration of GNU / Linux Systems”</h2>
					<p>Dictated by Eng. Emiliano Marini and organized by the Center for Computing Students of the National University of the Southin the second quarter of 2017.</p>
				</article>
				<article>
					<h2>"Introduction to the GNU / Linux operating system"</h2>
					<p>Dictated by Mg. Alejandro Stankevicius and organized by the Computing Student Center, October 28, 2017.</p>
				</article>
				<article>
					<h2>“CISCO IT Essentials”</h2>
					<p>By Lic. Adrián Gonnet, UTN Regional Bahía Blanca, August 1, 2014.</p>
				</article>
				<article>
					<h2>"Higher Technician in Computing, Administrative Orientation"</h2>
					<p>I am currently studying said career at the Higher School of Commerce, "Prudencio Cornejo".</p>
				</article>
				<article>
					<h2>"Junior .NET Programmer"</h2>
					<p>By Lic. Paola Piovano, Microsoft, Buffa Sistemas and Cessi (Chamber of Software and Information Services Companies), July 11, 2013.</p>
				</article>
				<article>
					<h2>"PC Repairer"</h2>
					<p>By Roberto Silvestri, December 18, 2012.</p>
				</article>		
				<article>
					<h2>"PC operator with competence in word processor, spreadsheet and database"</h2>
					<p>By Sergio Promenzio, July 13, 2012.</p>
				</article>
				<article>
					<h2>"PC operator under graphical environment"</h2>
					<p>By Sergio Promenzio, April 15, 2012.</p>
				</article>
				<article>
					<h2>Microsoft Virtual Academy</h2>
					<p>Development with WebMatrix (ASP.NET with Razor Syntax), Windows 8, Developing in HTML5 with JavaScript and CSS3 Jump Start, Starting with Big Data, Introduction to Cognitive Computing, Starting with Machine learning and Introduction to the Internet of stuff.</p>
				</article>
				<article>
					<h2>"PHP Video Tutorial"</h2>
					<p>Desarrolloloweb.com, December 2011.</p>
				</article>
				<article>
					<h2>Higher Technician in Marketing, Instituto Superior Pedro Goyena</h2>
					<p>From January 1998 to December 2002</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>		
	</div>
</div>
</body>
</html>